Walter<-c("Company", "Recent IPO", "M&A", "Sales Growth %")
Company1<-c("Intellicon","No","No",54)
Company2<-c("Red Hat, Inc.","Yes","No",17.2)
WalterData<-data.frame(Walter,Company1,company2)

```{r}

Walter<-c("Company", "Recent IPO", "M&A", "Sales Growth %")
Company1<-c("Intellicon","No","No",54)
Company2<-c("Red Hat, Inc.","Yes","No",17.2)
WalterData<-data.frame(Walter,Company1,company2)
```